<div class="container">
    <h1 class="text-center mb-3">Erdőtüzek</h1>
    <table class="table table-striped table-bordered">
        <tr class="text-center bg-dark text-white">
            <th>
                <span (click)="newFire()"  class="plus">&#10010;</span>
            </th>
            <th>Név</th> 
            <th>Terület</th>
            <th>Dátum</th>
            <th>Leírás</th>
            <th>Forrás</th>
        </tr>
        @for (fire of fires; track $index){
            <tr>
                <td class="text-center">
                    <span (click)="modFire(fire)">&#9998;</span>
                    <span (click)="delFire(fire)">&#10006;</span>
                </td>
                <td>{{ fire.name }}</td>
                <td>{{ fire.location }}</td>
                <td>{{ fire.date }}</td>
                <td>{{ fire.description }}</td>
                <td>{{ fire.source }}</td>
            </tr>
        }
    </table>
    <app-fire [model]="modify" (saved)="saveModify($event)"></app-fire>
    <app-fire [model]="new" (saved)="saveNew($event)"></app-fire>
</div>